# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.CodeFirstApp.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\h--sa\RiderProjects\CodeFirstApp\.idea\.idea.CodeFirstApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
