@{
    var Students1 = (Student)ViewData["Students1"];
}

    <h1>This is details of student</h1>
    <p>Hi, My Name is: @Students1.FirstName and my Last Name is: @Students1.LastName And my email is : @Students1.Email</p>
