@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var Student = (StudentModel)ViewData["details"];
}

<p>ID: @Student.Id</p>
<p>First Name: @Student.FirstName</p>
<p>Last Name: @Student.LastName</p>
<p>Email: @Student.Email</p>
