
@{

    var list = (List<Student>)ViewData["Students"];
 
    @*<h1>@s.Name</h1>*@

    <ul>
        @foreach (var item in list)
        {

        <li>@item.id -- @item.Name </li>


        }
    </ul>

}
