@{
    var Customers = (List<CustomerModel>)ViewData["Customers"];
}


<h1>This is Customers Index </h1>

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>LastName</td>
            <td>FirstName</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var cust in Customers)
        {
            <tr>
                <td>@cust.Id</td>
                <td>@cust.LastName</td>
                <td>@cust.FirstName</td>
                <td>@cust.Email</td>
            </tr>

        }
    </tbody>

</table>
